<google-chart [type]="productChartType" [data]="productSalesData" [columns]="chartColumns" [title]="productTitle" style="height: 100vh; width: 100%;" [options]="productChartOptions"></google-chart>

<google-chart [type]="yearChartType" [data]="yearSalesData" [columns]="yearColumns" [title]="yearTitle" style="height: 100vh; width: 100%;" [options]="yearChartOptions"></google-chart>

<google-chart [type]="stateChartType" [data]="stateSalesData" [columns]="stateColumns" [title]="stateTitle" style="height: 100vh; width: 100%;" [options]="stateChartOptions"></google-chart>