<div>
  <h1 class="text-center">
    <b>Get Hired in <span class="text-primary">4 Quick Easy Steps</span></b>
  </h1>
  <p
    class="text-center"
    style="
      font-weight: 500;
      margin-left: 31em;
      width: 35vw;
      padding: 0;
      margin-bottom: 0;
    "
  >
    The Quickest and the most Effective way to get hired by the SGT Firm working
    in your career interest areas.
  </p>
  <div class="imgfly row">
    <div class="col " style="margin-left: 5em; margin-top: 4em">
      <div class="card shadow" style="width: 18rem">
        <div class="card-body">
          <div
            class="text-center"
            style="
              height: 50px;
              width: 50px;
              background-color: #f9ddc3;
              border-radius: 25px;
              margin-bottom: 1em;
            "
          >
            <i class="fa-solid fa-user fa-2x p-2" style="color: #f5963d"></i>
          </div>
          <h5 class="card-title"><b>Create an Account</b></h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
          <p class="card-text">
            Apply for the job applicant profile,mention your qualifications,
            past experiences and expertise and scope your interests.Voila!You're
            all setto find your dream jobs.
          </p>
        </div>
      </div>
    </div>
    <div class="col" style="margin-top: 8em">
      <div class="card shadow" style="width: 18rem">
        <div class="card-body">
          <div
            class="text-center"
            style="
              height: 50px;
              width: 50px;
              background-color: #e4ddf8;
              border-radius: 25px;
              margin-bottom: 1em;
            "
          >
            <i
              class="fa-solid fa-magnifying-glass fa-2x p-2"
              style="color: #134af1"
            ></i>
          </div>
          <h5 class="card-title"><b>Search Job</b></h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
          <p class="card-text">
            Once you sell your job hunting parameters,you'll find many openings
            related to your career interest on the home page and even filter out
            some of the best job openings.
          </p>
        </div>
      </div>
    </div>
    <div class="col" style="margin-top: 3em">
      <div class="card shadow" style="width: 18rem">
        <div class="card-body">
          <div
            class="text-center"
            style="
              height: 50px;
              width: 50px;
              background-color: #fef8e1;
              border-radius: 25px;
              margin-bottom: 1em;
            "
          >
            <i
              class="fa-solid fa-briefcase fa-2x p-2"
              style="color: #ffd43b"
            ></i>
          </div>
          <h5 class="card-title"><b>Upload CV/Resume</b></h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
          <p class="card-text">
            From numerous job openings,shortlist the right-match vacancy to your
            profile and apply right offer by uploading your CV/Resume and
            answering a couple of questions , if any.
          </p>
        </div>
      </div>
    </div>
    <div class="col" style="margin-top: 8em">
      <div class="card shadow" style="width: 18rem">
        <div class="card-body">
          <div
            class="text-center"
            style="
              height: 50px;
              width: 50px;
              background-color: #dbf5ed;
              border-radius: 25px;
              margin-bottom: 1em;
            "
          >
            <i
              class="fa-solid fa-file-lines fa-2x p-2"
              style="color: #63e6be"
            ></i>
          </div>
          <h5 class="card-title"><b>Get Job</b></h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
          <p class="card-text">
            After applying wait for sometime,schedule an interview , and if
            everything goes right , then get hired more quickly than traditional
            hiring methods.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
