<div class="my-container">
  
  <div class="m-4">
<div class="row">
  <h1 class="txt col-10">Employees:</h1>
  <div class="col-2 mt-2"><button class="btn btn-primary " (click)="exportToCsv()">Export CSV</button></div>
</div>
    <br />
    <table class="thead">
      <tr class="row  border-bottom pt-3 pb-3 border-top pt-3 pb-3" style="width: 90vw">
        <th class="col-1 txt">Sr. no.</th>
        <th class="col-1 txt">Job title</th>
        <th class="col-1 txt">Salary</th>
        <th class="col-2 txt">Department</th>
        <th class="col-2 txt">Email</th>
        <th class="col-2 txt">Date of joining</th>
        <th class="col-1 txt">Active </th>
      </tr>

      <tr *ngFor="let emp of employees; index as i" class="row  border-bottom pt-3 pb-3">
        <td class="col-1">{{ i + 1 }}</td>
        <td class="col-1">{{emp.job_title }}</td>
        <td class="col-1">{{emp.salary}}</td>
        <td class="col-2">{{ emp.department }}</td>
        <td class="col-2" style="word-wrap: break-word;">{{ emp.email }}</td>
        <td class="col-2">{{ emp.date_of_joining| date:"longDate" }}</td>
        <td class="col-1">{{ emp.active_yn }}</td>
        <td class="col-2">
          <button type="button" [routerLink]="['/SingleEmployeeDetails/', emp.email]" class="btn btn-primary">View</button>
        </td>

        
      </tr>
    </table>
  </div>


</div>



<!-- 

<div class="box">
  <h2 class="heading">Employee Details</h2>
  <div class="container">
    <div class="card" *ngFor="let emp of employees; index as i">
      <div class="row component">
        <div class="col-4 align-self-center">Email-</div>
        <div class="col-6 detail">{{ emp.email }}</div>
      </div>
      <div class="row component">
        <div class="col-4 align-self-center">Job Title-</div>
        <div class="col-6 detail">{{emp.job_title }}</div>
      </div>
      <div class="row component">
        <div class="col-4 align-self-center">Department-</div>
        <div class="col-6 detail">{{ emp.department }}</div>
      </div>
      <div class="row component">
        <div class="col-4 align-self-center">Salary-</div>
        <div class="col-6 detail">{{emp.salary}}</div>
      </div>
      <div class="row component">
        <div class="col-4 align-self-center">Date of joining-</div>
        <div class="col-6 detail">{{ emp.date_of_joining| date:"longDate" }}</div>
      </div>

      <div class="row component">
        <div class="col-4 align-self-center">Active-</div>
        <div class="col-6 detail">{{ emp.active_yn }}</div>
      </div>
      <div class="border-bottom component button">
        <button type="button" [routerLink]="['/SingleEmployeeDetails/', emp.email]" class="btn btn-primary">View</button>
      </div>
          
  </div>

  </div>
  <br>
</div> -->