<div >
  <!-- <p>view-applicants works!</p> -->
<div class="m-4" >
  <h1>Applications:</h1>
  <br />
  <table class="thead">
    <tr class="row" style="width: 90vw">
      <th class="col-1">Sr. no.</th>
      <th class="col-2">Applicant Name</th>
      <th class="col-2">Vacancy Name</th>
      <th class="col-1">Round 1</th>
      <th class="col-1">Round 2</th>
      <th class="col-1">Round 3</th>
      <th class="col-2">Applied at</th>
      <th class="col-2">Profile</th>
    </tr>

    <div>
      <tr  *ngFor="let app of applications; index as i" class="row">
        <td class="col-1">{{ i + 1 }}</td>
        <td class="col-2">{{ app.full_name }}</td>
        <td class="col-2">{{ app.job_title }}</td>
        <td class="col-1">{{ app.round_1 }}</td>
        <td class="col-1">{{ app.round_2 }}</td>
        <td class="col-1">{{ app.round_3 }}</td>
        <td class="col-2">{{ app.applied_at | date : "longDate" }}</td>
        <td class="col-2">
          <button type="button" class="btn btn-info" [routerLink]="['/SingleApplicantDetails',app.applicant_id]">View</button>
        </td>
      </tr>
    </div>
  </table>
</div>

</div>