<div class="box">
  <h2 class="heading">Applicant Details</h2>
  <div class="container">
    <div class="card" *ngFor="let app of applications; index as i">
      <div class="row component">
        <div class="col-4">Fullname-</div>
        <div class="col-6 detail">{{ app.full_name }}</div>
      </div>
      <div class="row component">
        <div class="col-4 align-self-center">Job Title-</div>
        <div class="col-6 detail">{{ app.job_title }}</div>
      </div>
      <div class="row component">
        <div class="col-4">Round 1-</div>
        <div class="col-6 detail">{{ app.round_1 }}</div>
      </div>
      <div class="row component">
        <div class="col-4">Round 2-</div>
        <div class="col-6 detail">{{ app.round_2 }}</div>
      </div>
      <div class="row component">
        <div class="col-4">Round 3-</div>
        <div class="col-6 detail">{{ app.round_3 }}</div>
      </div>

      <div class="row component">
        <div class="col-4 align-self-center">Applied At-</div>
        <div class="col-6 detail">{{ app.applied_at | date : "longDate" }}</div>
      </div>
      <div class="border-bottom component button">
        <button type="button" class="btn btn-primary" [routerLink]="['/SingleApplicantDetails',app.applicant_id]">View</button>
      </div>
          
  </div>

  </div>

  <br>
</div>