label{
    font-size: 15px;
}
input{
    margin-bottom: 1em;
    width: 20vw;
    height: 5vh;
    border-style: solid;
  border-image-source: linear-gradient(to bottom right, blue, skyblue);
  border-width: 3pt;
  border-image-slice: 1;
  outline: none;
}

button{
    margin-bottom: 2em;
}


  