<p>change-pwd works!</p>

<form class="form-group" ngNativeValidate [formGroup]="changePwdForm" (submit)="submit()">
    <div class="form-control">
        <label for="old_pwd">Enter Current Password</label>
        <input required type="text" name="old_pwd" id="old_pwd" formControlName="old_pwd">
    </div>
    <div class="form-control">
        <label for="new_pwd">Enter New Password</label>
        <input required type="text" name="new_pwd" id="new_pwd" formControlName="new_pwd">
    </div>
    <div class="form-control">
        <label for="confirm_new_pwd">Confirm New Password</label>
        <input required type="text" name="confirm_new_pwd" id="confirm_new_pwd" formControlName="confirm_new_pwd">
    </div>

    <button type="submit">Submit</button>
</form>


<div *ngIf="hidden">Password changed successfully</div>
