    <div class="container">
        <div class="user-info">
            <img src="../../../assets/Images/icon_profile_attendance.png" alt="User Profile Image"> <div class="details">
                <h2>Muhammad Irsyad</h2>
                <p>ID: 2011688469</p>
                <p>Work Hours: 9:00 AM - 4:00 PM</p>
            </div>
        </div>
        <div>
          <div *ngIf="data" >{{data.clockin}}</div>
          <div *ngIf="data" >{{data.clockout}}</div>
        </div>
        <div class="clock-actions">
          <button (click)="submit()" class="clock-in">Clock In</button>
          <button (click)="submit()" class="clock-out">Clock Out</button>
      </div>
    </div>


