/* style.css */
body {
  background-color: #f5f5f5;
  font-family: sans-serif;
  text-align: center;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 15px;
}

.details {
  margin-bottom: 20px;
}

.details h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.details p {
  margin-bottom: 0;
}

.clock-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.clock-actions button {
  margin: 10px;
  background-color: #4CAF50; /* Green for Clock In */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clock-out {
  background-color: #f44336; /* Red for Clock Out */
}
