<div class="container">
    <div class="row">
        <div class="top">
            <div class="col-5 left">
                <app-leaves></app-leaves>
            </div>
            <div class="col-6 right">
                <app-announcements></app-announcements>
                <app-holidays></app-holidays>
                
            </div>
        </div>
           <div class="bottom">
                <div class="col-4 left">
                    <app-skills></app-skills>
                </div>
                <div class="col-6 right">
                    <app-goals></app-goals>
                </div>
           </div>
    </div>
    
</div>