<div class="footer row m-0">
    <div class="content1 col">
        <h1 style="text-indent: -1em;">HRIS Careers</h1>
        <p>Aims to streamline the Recruting process,giving opportunity to all, and assist aspirants in their engineering journey.</p>
        
       <div class="icons d-flex f-row j-center">
        <i class="fa-brands fa-facebook fa-2x" style="color: #ffffff;"></i>
        <i class="fa-brands fa-twitter fa-2x" style="color: #ffffff;"></i>
        <i class="fa-brands fa-instagram fa-2x" style="color: #ffffff;"></i>
        <i class="fa-brands fa-linkedin fa-2x" style="color: #ffffff;"></i>
       </div>
       
    </div>
    <div class="content col">
        <p>For Technophiles</p>
        <p>For Engineers</p>
        <p>For Developers</p>
        <p>For Frontend</p>
        <p>For Backend</p>
        <p>For Programmers</p>
    </div>
    <div class="content col">
        <p>Company</p>
        <p>Career</p>
        <p>About</p>
        <p>API</p>
        <p>Terms of Service</p>
        <p>Privacy Policy</p>
    </div>
    <div class="content col">
        <p>Hire Programmers</p>
        <p>Code Of conduct</p>
        <p>Advertise with us</p>
    </div>
</div>