.footer {
  background-color: #1685f4;
  color: #f7f1f1;
  padding: 30px 0;
  text-align: center;
}

.content {
  padding: 20px;
  margin: 0 auto;
  max-width: 250px;
  font-size: 25px;
  text-align: center;
  color: #f6f0f0;
}

.content1 {
  padding: 20px;
  margin: 0 auto;
  max-width: 350px;
  font-size: 18px;
  text-align: center;
  color: #faf9f9;
}

.icons {
  margin-top: 20px;
}
.content1 .icons i {
  color: #f2f0f0 !important;
}

.icons i {
  color: #000;
}

.footer h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.footer p {
  font-size: 16px;
  margin-bottom: 10px;
}
