<hr />
<div
  class="text-center d-flex flex-column justify-content-center align-items-center"
  style="height: 100vh; width: 98vw"
>
  <h1 class="{{ color }}" style="font-size: 100px">
    {{ text }} <span class="text-dark">for everyone</span>
  </h1>
  <h3 style="margin-top: 50px">Find your next job at SGT.</h3>

  <button type="button" class="btn btn-primary" style="margin-top: 50px">
    Browse Jobs
  </button>
</div>
<app-get-hired></app-get-hired>

<app-category></app-category>
<app-job></app-job>
<app-what-we-offer></app-what-we-offer>
<app-testimonials></app-testimonials>
<app-contact-us></app-contact-us>
