
<div class="main-page">
  <div class="inside">
    <div
      class="text d-flex flex-column justify-content-center"
      style="height: 100vh"
    >
      <p class="bg-light rounded-4 p-4 text-dark" style="width: 40vw">
        <span style="font-size: 25px">Welcome to </span><br /><span
          style="font-size: 100px"
          >HRIS</span
        ><br /><b>-Empowering Your Financial Future </b><br /><br />
        Join us on this exciting journey toward financial excellence.
        <br />
        Sign Up today to experience a world of possibilities with MONK.
      </p>
    </div>
  </div>
</div>
<app-job></app-job>
