<!-- About Us Section Starts Here -->
<section class="about-us-wrapper">
  <!-- About us main container Starts here -->
  <div class="about-us-container container">
    <!-- About us Left Container Starts here -->
    <div class="about-us-left-content">
      <!-- About us Header Starts Here -->
      <div class="about-us-heading-wrapper">
        <h2 class="about-us-title">We Built Best Solution For Your Team</h2>
      </div>
      <!-- About us Header Ends Here -->
      <!-- About us Left Lower Content Starts here -->
      <div class="about-us-lower-content">
        <!-- About us Content Item - START -->
        <div class="about-us-content">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt
          harum quis totam ab delectus autem iste similique voluptatum
          consequatur itaque alias ipsa nulla accusantium nobis, beatae
          excepturi eum reiciendis vel?
          <h4 class="content-head">Many Users</h4>
          <p class="content-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
            culpaet dolorem ad quam itaque.Esse ratione laboriosam ipsam!
            Voluptas.
          </p>
        </div>
        <!-- About us Content Item - END -->
        <!-- About us Content Item - START -->
        <div class="about-us-content">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde
          quibusdam quia aperiam! Autem, alias officiis animi voluptatum non
          quisquam natus modi labore nam, est totam eveniet quibusdam iusto
          omnis! Voluptatum?
          <h4 class="content-head">Many Users</h4>
          <p class="content-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
            culpa et dolorem ad quam itaque. Esse ratione laboriosam ipsam!
            Voluptas.
          </p>
        </div>
        <!-- About us Content Item - END -->
        <!-- About us Content Item - START -->
        <div class="about-us-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
          sapiente ab explicabo quod velit placeat in necessitatibus sunt
          inventore minima at dolore, eum nemo, fugiat maiores molestias,
          corporis incidunt. Natus!
          <h4 class="content-head">Many Users</h4>
          <p class="content-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
            culpa et dolorem ad quam itaque. Esse ratione laboriosam ipsam!
            Voluptas.
          </p>
        </div>
        <!-- About us Content Item - END -->
        <!-- About us Content Item - START -->
        <div class="about-us-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum illo
          ratione nihil atque, impedit, ab voluptatum alias aspernatur
          reiciendis, modi cupiditate eum blanditiis facilis amet itaque
          sapiente perferendis hic officiis!
          <h4 class="content-head">Many Users</h4>
          <p class="content-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
            culpa et dolorem ad quam itaque. Esse ratione laboriosam ipsam!
            Voluptas.
          </p>
        </div>
        <!-- About us Content Item - END -->
      </div>
      <!-- About us Left Lower Content Ends here -->
    </div>
    <!-- About us Left Container Ends here -->
  </div>
  <!-- About us main container Ends here -->
  <!-- About us Right Container Starts here -->
  <div class="about-us-right-content">
    <img
      class="laptop-image"
      src="../../../assets/Images/Gemini_Generated_Image.jpg"
      alt="Laptop Image"
    />
  </div>
  <!-- About us Right Container Ends here -->
</section>
