<ng-container *ngIf="show">
  <ngb-toast header="Registration" [autohide]="false" (hidden)="closeToast()">
    <p *ngIf="display == 1">Username already exists.</p>
    <p *ngIf="display == 2">Email already exists.</p>
    <p *ngIf="display == 3">Username and email already exists.</p>
  </ngb-toast>
</ng-container>

<div class="row justify-content-between" style="width: 99.5vw; height: 70vh">
  <div class="col-3 m-0 p-0">
    <img
      src="../../../assets/Images/register.png"
      alt=""
      style="height: 70vh; width: 100%"
    />
  </div>
  <div class="col-8">
    <form
      class="text-dark w-75"
      ngNativeValidate
      (submit)="callOnSubmit()"
      [formGroup]="createForm"
    >
      <h1>Get's Started</h1>
      <p class="text-muted">
        Already have an Account?
        <span
          [routerLink]="['/login']"
          class="arrow-cursor"
          style="color: #1685f4"
          >Login</span
        >
      </p>
      <div class="row">
        <div class="col-6" *ngIf="!isDone">
          <div>
            <label>*Name</label>
            <br />
            <input required type="text" formControlName="full_name" required />
          </div>
          <div>
            <label for="">*Username</label>
            <br />
            <input required type="text" formControlName="username" required />
          </div>
          <div>
            <label for="">*Email</label>
            <br />
            <input required type="email" formControlName="email" required />
          </div>
        </div>
        <div class="col-6" *ngIf="!isDone">
          <div>
            <label for="">*Phone No.:</label>
            <br />
            <input
              required
              type="tel"
              pattern="[0-9]{10}"
              formControlName="phone"
              required
            />
          </div>
          <div>
            <label for="exampleInputPassword1">*Password:</label>
            <br />
            <div class="row" style="width: 100%">
              <input
                required
                [type]="hide ? 'password' : 'text'"
                class="form-control col align-self-center"
                id="exampleInputPassword1"
                formControlName="password"
                style="margin-left: 0.75em"
              />
              <button
                (click)="toggleVisibility()"
                class="col-2 btn btn-primary"
              >
                <i
                  class="fa"
                  [ngClass]="{ 'fa-eye': hide, 'fa-eye-slash': !hide }"
                ></i>
              </button>
            </div>
          </div>
          <div>
            <label for="exampleInputPassword2">*Confirm Password</label>
            <br />
            <div class="row" style="width: 100%">
              <input
                required
                [type]="hide1 ? 'password' : 'text'"
                class="form-control col align-self-center"
                id="exampleInputPassword2"
                formControlName="cpassword"
                style="margin-left: 0.75em"
              />
              <button
                (click)="toggleVisibility1()"
                class="col-2 btn btn-primary"
              >
                <i
                  class="fa"
                  [ngClass]="{ 'fa-eye': hide1, 'fa-eye-slash': !hide1 }"
                ></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-col justify-content-center" *ngIf="!isDone">
        <button
          [disabled]="disabled"
          type="submit"
          class="btn btn-primary w-25 text-center align-self-center"
        >
          Next
        </button>
      </div>

      <div class="row">
        <div class="col-6" *ngIf="isDone">
          <div>
            <label for="">*Resume</label>
            <input
              class="form-control form-control-sm"
              type="file"
              style="border-color: black"
              accept="file/pdf"
              (change)="read($event)"
              required
            />
          </div>
          <br />
          <div>
            <label for="">*Date of Birth</label>
            <input type="date" formControlName="dob" required />
          </div>
          <br />
          <div>
            <label for="">*Do you have any Work Experience(Y/N)</label>
            <div class="row">
              <div
                class="form-check col"
                style="margin-top: 0; margin-bottom: 0"
              >
                <input
                  required
                  class="form-check-input m-0 p-0"
                  style="width: 40%"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                  value="Y"
                  (change)="onChange($event)"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Yes
                </label>
              </div>
              <div
                class="form-check col"
                style="margin-top: 0; margin-bottom: 0"
              >
                <input
                  class="form-check-input m-0 p-0"
                  style="width: 40%"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault2"
                  value="N"
                  (change)="onChange($event)"
                />
                <label class="form-check-label" for="flexRadioDefault2">
                  No
                </label>
              </div>
            </div>
          </div>
          <br />
        </div>
        <div class="col-6" *ngIf="isDone">
          <div>
            <label for="">*Current CTC(in LPA):</label>
            <input type="number" formControlName="curr_ctc" required />
          </div>
          <br />
          <div>
            <label for="">*Expected CTC(in LPA):</label>
            <input type="number" formControlName="exp_ctc" required />
          </div>
          <br />
          <div
            style="
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              height: 3vh;
              margin-top: 1.5em;
            "
          >
            <input
              required
              type="checkbox"
              class="m-0 p-0"
              style="width: 10%"
              [checked]="submitBtn"
              (change)="submitBtn = !submitBtn"
            />
            <label style="width: 100%">
              <span style="color: #1685f4">I accept terms and conditions</span>
            </label>
          </div>
        </div>
      </div>
      <div class="d-flex flex-col justify-content-center" *ngIf="submitBtn">
        <button
          *ngIf="!checkButton()"
          type="submit"
          class="btn btn-primary w-25 text-center align-self-center"
        >
          Next
        </button>
      </div>

    </form>
  </div>
</div>
