<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">HRIS</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse flex justify-content-between"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a class="nav-link active">Home</a>
        <a class="nav-link">Jobs</a>
        <a class="nav-link">About</a>
        <a class="nav-link">Contact</a>
      </div>
      <div class="navbar-nav">
        <button class="btn btn-outline-dark me-3" [routerLink]="['/register']">
          Signup
        </button>
        <button class="btn btn-outline-dark" [routerLink]="['/login']">Login</button>
      </div>
    </div>
  </div>
</nav>
