<nav class="navbar navbar-expand-lg bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><span class="text-danger">H</span><span class="text-primary">R</span
      ><span class="text-warning">I</span><span class="text-success">S</span
      ><span style="font-weight: 400" class="text-secondary">Careers</span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse flex justify-content-between add-remove"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a class="nav-link active" [routerLink]="['']" *ngIf="!(empid || hr)">Home</a>
        <a class="nav-link active" [routerLink]="['/Employee']" *ngIf="empid">Home</a>
        <a class="nav-link active" [routerLink]="['/HR']" *ngIf="hr">Home</a>
        <a class="nav-link" href="">Jobs</a>
        <a class="nav-link" href="">About</a>
        <a class="nav-link" href="">Contact</a>
      </div>
      <div class="navbar-nav" *ngIf="!isLoggedIn()">
        <button class="btn btn-primary me-3" [routerLink]="['/register']">
          Signup
        </button>
        <button class="btn btn-primary" [routerLink]="['/login']">Login</button>
      </div>
      <div class="navbar-nav logout" *ngIf="isLoggedIn()">
        <button
          class="btn btn-outline-primary me-3"
          (click)="logOut()"
          [routerLink]="['/login']"
        >
          Logout
        </button>

        <button class="btn btn-outline-primary me-3" [routerLink]="['/home']" style="height:5vh; width:4vw;border-radius: 50%;background-image: url('http://localhost:8083/api/GetFiles/{{ userid }}/photo'); background-size: cover; background-position: center; background-repeat: no-repeat;" *ngIf="userid && !empid">
          
          </button>
          <button class="btn btn-outline-primary me-3" type="button" [routerLink]="['/change-pwd']" *ngIf="empid || hr">Change Password</button>
      </div>
    </div>
  </div>
</nav>

