<div class="container row" *ngIf="employeeData">
    <div class="col-5 ctr ">
        <div class="h1 text ">Employee Details</div>
        <br />

        <div class="row">
            <div class="col-4 text ">
                <h5>Employee Name:</h5>
            </div>
            <div class="col-8">
                {{employeeData.username}}
            </div>
        </div>
    <br>
        <div class="row">
            <div class="col-4 text ">
                <h5>Job Title:</h5>
            </div>
            <div class="col-8">
                {{employeeData.job_title}}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4 text ">
                <h5>Department:</h5>
            </div>
            <div class="col-8">
                {{employeeData.department}}
            </div>    
        </div>
        <br>
        

        <div class="row">
            <div class="col-4 text ">
                <h5>Date Of Joining:</h5>
            </div>
            <div class="col-8">
                {{employeeData.date_of_joining | date:'longDate'}}
            </div>    
        </div>
        <br>

        <div class="row">
            <div class="col-4 text ">
                <h5>Resume:</h5>
            </div>
            <div class="col-8">
                {{employeeData.resume}}
            </div>    
        </div>
        <br>

        <div class="row">
            <div class="col-4 text ">
                <h5>Salary:</h5>
            </div>
            <div class="col-8">
                {{employeeData.salary}}
            </div>    
        </div>
        <br>

        <div class="row">
            <div class="col-4 text ">
                <h5>Work Experience:</h5>
            </div>
            <div class="col-8">
                {{employeeData.work_experience}}
            </div>    
        </div>
        <br>

    </div>
    <div class="col-5 ctr">
        <div class="h1 text ">More Details</div>
        <br />

        <div class="row">
            <div class="col-4 text ">
                <h5>Email</h5>
            </div>
            <div class="col-8">
                {{employeeData.email}}
            </div>    
        </div>
        <br>
        <div class="row">
            <div class="col-4 text ">
                <h5>Gender:</h5>
            </div>
            <div class="col-4">
                {{employeeData.gender}}
            </div>    
        </div>
        <br>
        <div class="row">
            <div class="col-4 text ">
                <h5>City:</h5>
            </div>
            <div class="col-4">
                {{employeeData.city}}
            </div>    
        </div>
        <br>
        <div class="row">
            <div class="col-4 text ">
                <h5>Marital Status:</h5>
            </div>
            <div class="col-4">
                {{employeeData.martial_status}}
            </div>    
        </div>
        <br>
        <div class="row">
            <div class="col-4 text ">
                <h5>Nationality:</h5>
            </div>
            <div class="col-4">
                {{employeeData.nationality}}
            </div>    
        </div>
        <br>
    </div>
    

    <div class="qualifications col-5 ctr" *ngIf="degreesDataBool">
        <h1 class=" text ">Qualifications-</h1>
        <br>

        <div class="loop" *ngFor="let degree of degreesData;let i=index">
            <div><h5>{{i+1}} :-</h5></div>
            <div class="row">
                <div class="col-4 text ">
                    <h5>Degree Name:</h5>
                </div>
                <div class="col-8">
                    {{degree.degree_name}}
                </div>    
            </div>

            <br>

            <div class="row">
                <div class="col-4 text ">
                    <h5>Institute institute name:</h5>
                </div>
                <div class="col-8">
                    {{degree.institute_name}}
                </div>    
            </div>

            <br>

            <div class="row">
                <div class="col-4 text ">
                    <h5>Degree admission year:</h5>
                </div>
                <div class="col-8">
                    {{degree.admission_year}}
                </div>    
            </div>

            <br>

            <div class="row">
                <div class="col-4 text ">
                    <h5>Degree completion year:</h5>
                </div>
                <div class="col-8">
                    {{degree.completion_year}}
                </div>    
            </div>

            <br>

            <div class="row">
                <div class="col-4 text ">
                    <h5>Degree GPA:</h5>
                </div>
                <div class="col-4">
                    {{degree.GPA}}
                </div>    
            </div>

            
        </div>
        <br>
        
    </div>


    <div class="jobHistory col-5 ctr" *ngIf="jobHistoryDataBool">
        <h1 class=" text ">Job History-</h1>
        <br>

        <div class="loop" *ngFor="let job of jobHistoryData;let i=index">
            <div><h5>{{i+1}} :-</h5></div>
            <div class="row text ">
                <div class="col-4 text ">
                    <h5>Job company name:</h5>
                </div>
                <div class="col-8">
                    {{job.company_name}}
                </div>    
            </div>

            <br>

            <div class="row">
                <div class="col-4 text ">
                    <h5>Job Title:</h5>
                </div>
                <div class="col-8">
                    {{job.job_title}}
                </div>    
            </div>

            <br>

            <div class="row">
                <div class="col-4 text ">
                    <h5>Job Start year:</h5>
                </div>
                <div class="col-8">
                    {{job.from_year}}
                </div>    
            </div>

            <br>

            <div class="row">
                <div class="col-4 text ">
                    <h5>Job completion year:</h5>
                </div>
                <div class="col-4">
                    {{job.to_year}}
                </div>    
            </div>

            <br>

            <div class="row">
                <div class="col-4 text ">
                    <h5>Job description:</h5>
                </div>
                <div class="col-8">
                    {{job.description}}
                </div>    
            </div>

            
        </div>
        <br>
        
    </div>


</div>

