<div class="container" *ngIf="employeeData">
    <div class="h1">Employee Details</div>
    <br />

    <div class="row">
        <div class="col-4">
            <h5>Employee Name:</h5>
        </div>
        <div class="col-4">
            <h5>{{employeeData.username}}</h5>
        </div>
    </div>
<br>
    <div class="row">
        <div class="col-4">
            <h5>Job Title:</h5>
        </div>
        <div class="col-4">
            <h5>{{employeeData.job_title}}</h5>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-4">
            <h5>Department:</h5>
        </div>
        <div class="col-4">
            <h5>{{employeeData.department}}</h5>
        </div>    
    </div>
    <br>
    

    <div class="row">
        <div class="col-4">
            <h5>Date Of Joining:</h5>
        </div>
        <div class="col-4">
            <h5>{{employeeData.date_of_joining | date:'longDate'}}</h5>
        </div>    
    </div>
    <br>

    <div class="row">
        <div class="col-4">
            <h5>Resume:</h5>
        </div>
        <div class="col-4">
            <h5>{{employeeData.resume}}</h5>
        </div>    
    </div>
    <br>

    <div class="row">
        <div class="col-4">
            <h5>Salary:</h5>
        </div>
        <div class="col-4">
            <h5>{{employeeData.salary}}</h5>
        </div>    
    </div>
    <br>

    <div class="row">
        <div class="col-4">
            <h5>Work Experience:</h5>
        </div>
        <div class="col-4">
            <h5>{{employeeData.work_experience}}</h5>
        </div>    
    </div>
    <br>

    <div class="h1">More Details</div>
    <br />

    <div class="row">
        <div class="col-4">
            <h5>Email</h5>
        </div>
        <div class="col-4">
            <h5>{{employeeData.email}}</h5>
        </div>    
    </div>
    <br>
    <div class="row">
        <div class="col-4">
            <h5>Gender:</h5>
        </div>
        <div class="col-4">
            <h5>{{employeeData.gender}}</h5>
        </div>    
    </div>
    <br>
    <div class="row">
        <div class="col-4">
            <h5>City:</h5>
        </div>
        <div class="col-4">
            <h5>{{employeeData.city}}</h5>
        </div>    
    </div>
    <br>
    <div class="row">
        <div class="col-4">
            <h5>Marital Status:</h5>
        </div>
        <div class="col-4">
            <h5>{{employeeData.martial_status}}</h5>
        </div>    
    </div>
    <br>
    <div class="row">
        <div class="col-4">
            <h5>Nationality:</h5>
        </div>
        <div class="col-4">
            <h5>{{employeeData.nationality}}</h5>
        </div>    
    </div>
    <br>
    
    


</div>

