<ng-container *ngIf="show">
    <ngb-toast
      header="Email"
      [autohide]="false"
      (hidden)="close()"
    >
      Email sent Successfully
    </ngb-toast>
  </ng-container>


<div class="container" *ngIf="applicantDetails" (submit)="submit()">

    <div>
        <div class="frm ">
            <form action="" [formGroup]="applicantForm">
                <div class="row">
                    
                    
                        <label for=""  class="col-5 text"><h5>Round-1</h5></label>
          <select
          formControlName="round_1"
            class="form-select elem col-3"
            style="width: 12vw; border-color: rgba(0, 0, 0, 0.503)"
            #type
            (change)="onSelected(type.value,'round_1')"
            *ngIf="this.applicantDetails.round_1==='N/A'"
          >
            <option value="" selected>N/A</option>
            <option value="Pass">Pass</option>
            <option value="Fail">Fail</option>
            
            
          </select>
          <label class="col-3 text " type="string" *ngIf="this.applicantDetails.round_1!=='N/A'" ><h5>{{this.applicantDetails.round_1}}</h5></label>
                
            </div>
                <br>        
        
                <div class="row" *ngIf="this.applicantDetails.round_1==='Pass'">
                    <label for=""  class="col-5 text"><h5>Round-2</h5></label>
                    <select
                      class="form-select elem col-3"
                      style="width: 12vw; border-color: rgba(0, 0, 0, 0.503)"
                      #type2
                      (change)="onSelected(type2.value,'round_2')"
                      *ngIf="this.applicantDetails.round_2==='N/A'"
                    >
                      <option value="" selected>N/A</option>
                      <option value="Pass">Pass</option>
                      <option value="Fail">Fail</option>
                      
                      
                    </select>
                    <label class="col-3 text " type="string" *ngIf="this.applicantDetails.round_2!=='N/A'" ><h5>{{this.applicantDetails.round_2}}</h5></label>
                
                </div>
                <br>
                <div class="row" *ngIf="this.applicantDetails.round_2==='Pass'">
                    <label for=""  class="col-5 text"><h5>Round-3</h5></label>
          <select
            class="form-select elem col-3"
            style="width: 12vw; border-color: rgba(0, 0, 0, 0.503)"
            #type3
            (change)="onSelected(type3.value,'round_3')"
            *ngIf="this.applicantDetails.round_3==='N/A'"
          >
            <option value="" selected>N/A</option>
            <option value="Pass">Pass</option>
            <option value="Fail">Fail</option>
            
            
          </select>
          <label class="col-3 text " type="string" *ngIf="this.applicantDetails.round_3!=='N/A'" ><h5>{{this.applicantDetails.round_3}}</h5></label>
                
          
                </div>
                <br>
                <div class="row" *ngIf="this.applicantDetails.round_3==='Pass'">
                    <label for=""  class="col-5 text"><h5>Document Verification</h5></label>
                    <select
                      class="form-select elem col-3"
                      style="width: 12vw; border-color: rgba(0, 0, 0, 0.503)"
                      #type4
                      (change)="onSelected(type4.value,'doc_verification')"
                      *ngIf="this.applicantDetails.doc_verification==='N/A'"
                    >
                      <option value="" selected>N/A</option>
                      <option value="Pass">Pass</option>
                      <option value="Fail">Fail</option>
                      
                      
                    </select>
                    <label class="col-3 text " type="string" *ngIf="this.applicantDetails.doc_verification!=='N/A'" ><h5>{{this.applicantDetails.doc_verification}}</h5></label>
                
                </div>
                <br>
                <div class="row" *ngIf="this.applicantDetails.doc_verification==='Pass'">
                    <label for=""  class="col-5 text"><h5>Offer Letter</h5></label>
                    <select
                      class="form-select elem col-3"
                      style="width: 12vw; border-color: rgba(0, 0, 0, 0.503)"
                      #type5
                      (change)="onSelected(type5.value,'offer_letter')"
                      *ngIf="this.applicantDetails.offer_letter==='N/A'"
                    >
                      <option value="" >N/A</option>
                      <option value="Pass">Pass</option>
                      <option value="Fail">Fail</option>
                      
                      
                    </select>
                    <label class="col-3 text " type="string" *ngIf="this.applicantDetails.offer_letter!=='N/A'" ><h5>{{this.applicantDetails.offer_letter}}</h5></label>
                
                </div>
                <br>
        
                <button  class="btn" type="submit">Update</button>
                <br>
                
                
            </form>

            <div class="mail-container">
                <div *ngIf="this.applicantDetails.round_3!=='Pass'">
                    <h5 class=" text-white text-center text">Details for next round date, place and time-</h5>
                    <button class="btn" [routerLink]="['/next-round-email',id]">Next Round -></button>
                </div>
            
                <br>
                
                <div *ngIf="(this.applicantDetails.round_3==='Pass') && (this.applicantDetails.doc_verification!=='Pass') && (doc===0)">
                    <div class=" text-white text-center text"><h5>Email to request original document upload-</h5></div>
                    <button class="btn title" (click)="sendDocumentMail()" >Document Email</button>
                </div>
            
                <br>
                <div *ngIf="(this.applicantDetails.round_3==='Pass') && doc==1 && (this.applicantDetails.doc_verification!=='Pass')">
                    <div class=" text-white text-center text"><h5>Verify the Uploaded Documents by candidate</h5></div>
                    <button class="btn title" [routerLink]="['/viewDocuments',userId]" >View Documents</button>
                </div>
                <br>
            
                <div *ngIf="(this.applicantDetails.doc_verification==='Pass' && (this.applicantDetails.offer_letter!=='Pass'))">
                    <h5 class=" text-white text-center text">Email to check offer letter-</h5>
                    <button  class="btn" [routerLink]="['/offer-letter-details',id]" >Offer letter Email</button>
                </div>
            
                <br>
            
                <div *ngIf="(this.applicantDetails.offer_letter==='Pass')">
                    <h5 class="text-center  text-white  text ">Write details of new Employee</h5>
                    <button  class="btn" [routerLink]="['/create-new-employee',id]" >Details -> </button>
                </div>
                <br>  


            </div>
        </div>
    
        </div>
    
        <br>



    <div class="row">
        <div class="col-5 ctr">
            <div class="h3 text-center m-3  text-white  text ">Applicant Details</div>
            <br />

            <div class="row">
                <div class="col-4 text ">
                    <h5>Applicant Name:</h5>
                </div>
                <div class="col-4 ">
                    <p>{{applicantDetails.username}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-4 text ">
                    <h5>Vacancy Name:</h5>
                </div>
                <div class="col-4 ">
                    <p>{{applicantDetails.job_title}}</p>
                </div>
            </div>


            <div class="row">
                <div class="col-4 text ">
                    <h5>Applied At:</h5>
                </div>
                <div class="col-4 ">
                    <p>{{applicantDetails.applied_at | date:'longDate'}}</p>
                </div>    
            </div>
            <br>
        </div>

        <div class="col-5 ctr">
            <div class="h3 text-center m-3 text-white text  ">More Details</div>
            <br />
    
            <div class="row">
                <div class="col-4 text ">
                    <h5>Email</h5>
                </div>
                <div class="col-4">
                    {{applicantDetails.email}}
                </div>    
            </div>
            <br>
            <div class="row">
                <div class="col-4 text ">
                    <h5>Gender:</h5>
                </div>
                <div class="col-4">
                    {{applicantDetails.gender}}
                </div>    
            </div>
            <br>
            <div class="row">
                <div class="col-4 text ">
                    <h5>City:</h5>
                </div>
                <div class="col-4">
                    {{applicantDetails.city}}
                </div>    
            </div>
            <br>
            <div class="row">
                <div class="col-4 text ">
                  <h5>  Current CTC:</h5>
                </div>
                <div class="col-4">
                    {{applicantDetails.current_ctc}}
                </div>    
            </div>
            <br>
            <div class="row">
                <div class="col-4 text ">
                    <h5>Expected CTC:</h5>
                </div>
                <div class="col-4">
                    {{applicantDetails.expected_ctc}}
                </div>    
            </div>
            <br>
            <div class="row">
                <div class="col-4 text ">
                    <h5>Resume:</h5>
                </div>
                <div class="col-4">
                    {{applicantDetails.resume}}
                </div>    
            </div>
            <br>
        </div>

        <div class="qualifications col-5 ctr" *ngIf="degreesDataBool">
            <h3 class=" text-center m-3 text-white text ">Qualifications</h3>
            <br>

            <div class="loop" *ngFor="let degree of degreesData;let i=index">
                <div class=" text-white "><h5>{{i+1}} :-</h5></div>
                <div class="row">
                    <div class="col-4 text ">
                        <h5>Degree Name:</h5>
                    </div>
                    <div class="col-4 ">
                        <p>{{degree.degree_name}}</p>
                    </div>    
                </div>

                <br>

                <div class="row">
                    <div class="col-4 text ">
                        <h5>Institute institute name:</h5>
                    </div>
                    <div class="col-4 ">
                        {{degree.institute_name}}
                    </div>    
                </div>

                <br>

                <div class="row">
                    <div class="col-4 text ">
                        <h5>Degree admission year:</h5>
                    </div>
                    <div class="col-4 ">
                        {{degree.admission_year}}
                    </div>    
                </div>

                <br>

                <div class="row">
                    <div class="col-4 text ">
                        <h5>Degree completion year:</h5>
                    </div>
                    <div class="col-4 ">
                        {{degree.completion_year}}
                    </div>    
                </div>

                <br>

                <div class="row">
                    <div class="col-4 text ">
                        <h5>Degree GPA:</h5>
                    </div>
                    <div class="col-4 ">
                        {{degree.GPA}}
                    </div>    
                </div>

                <br>
                <br>
            </div>
            <br>
            <br>
            
        </div>


        <div class="jobHistory col-5 ctr" *ngIf="jobHistoryDataBool">
            <h3 class=" text-center m-3 text-white  text ">Job History-</h3>
            <br>

            <div class="loop" *ngFor="let job of jobHistoryData;let i=index">

                <div><h5 class="m-3 text ">{{i+1}} :-</h5></div>
                <div class="row">
                    <div class="col-4 text ">
                        <h5>Job company name:</h5>
                    </div>
                    <div class="col-4  ">
                        {{job.company_name}}
                    </div>    
                </div>

                <br>

                <div class="row">
                    <div class="col-4 text ">
                        <h5>Job Title:</h5>
                    </div>
                    <div class="col-4  ">
                        {{job.job_title}}
                    </div>    
                </div>

                <br>

                <div class="row">
                    <div class="col-4 text ">
                        <h5>Job Start year:</h5>
                    </div>
                    <div class="col-4  ">
                        {{job.from_year}}
                    </div>    
                </div>

                <br>

                <div class="row">
                    <div class="col-4 text ">
                        <h5>Job completion year:</h5>
                    </div>
                    <div class="col-4  ">
                        {{job.to_year}}
                    </div>    
                </div>

                <br>

                <div class="row">
                    <div class="col-4 text ">
                        <h5>Job description:</h5>
                    </div>
                    <div class="col-4  ">
                        {{job.description}}
                    </div>    
                </div>

                <br>
                <br>
            </div>
            <br>
            <br>
            
        </div>
    </div>


    
</div>