
<div class="d-flex flex-column justify-content-center align-items-center m-4">
    <h1>What we <span style="color: #1685f4;">Offer</span> </h1>
    <p class="text-muted text-center">
      HRISCareers Portal is the right platform for you to get various job recommendations, get career<br> counselling and find your ideal job profile
    </p>
    </div>
    <div class="row justify-content-around" style="width: 99vw;" >
        
            <div class="card col-4 " >
                <img class="card-img-top" src="../../../assets/Images/img1.png" alt="Card image cap" style="height: 35vh;">
                <div class="card-body">
                    <h1 class="card-text">Job Recommendation</h1>
                  <p class="card-text text-muted">
                    Set Your job preferences and get countless of your best-fit job recommendations
                  </p>
                </div>
              </div>
              <div class="card col-4" >
                <img class="card-img-top" src="../../../assets/Images/img2.png" alt="Card image cap" style="height: 35vh;">
                <div class="card-body">
                    <h1 class="card-text">Create & Build Profile</h1>
                    <p class="card-text text-muted">
                        Create and build your profile to showcase your skills and experience effectively.
                      </p>
                 
                </div>
              </div>
              <div class="card col-4" >
                <img class="card-img-top" src="../../../assets/Images/img3.png" alt="Card image cap"  style="height: 35vh;">
                <div class="card-body">
                    <h1 class="card-text">Career Consultation</h1>
                 <p class="card-text text-muted">Get personalized career consultation to navigate your professional path with confidence.</p>
                </div>
              </div>
       
        

    </div>
  